body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color
    Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    margin: 0;
    background-color: antiquewhite;
    width: 100%;
}
div {
    display: block;
}
.wrapper {
    min-height: 100%;
    position: relative;
}
a{

    text-decoration: none;
    color: #868686 ;
}
.navbar .nav-link{
    display: block;
    text-decoration: none;
    color: #868686 ;
    padding: 0.5rem 1rem;
}

.nav-link:hover{
    color: #b6b6b6;
}

.nav-wrap{
    background: #222;
    display: flex;
    align-content: center;
    margin-bottom: 0;
    top: 0;

}

.nav-icon{
    display: flex;
    margin-right: 1rem;
    margin-left: 2rem;
    align-items: center;
}
.element{
    opacity: 0;
}
.navbar-nav{
    display: flex;

}
.navbar-item{
    display: flex;
    list-style: none;
    margin-right: 1rem!important;
    color:  #868686;
}
.banner{
    height:250px;
    background-position: 0 -70px;
    background-size: cover;
    background-image: url(../img/banner_placeholder.png);
    align-content: center;
    position: relative;
    text-transform: uppercase;
    width:100%;
}

.banner-title{
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
}

.content{
    padding-bottom: 120px;
    margin: 0;
    padding-right: 0;
}

.container, .container-main{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.front{
    max-width: 650px;
    text-align: center;
}