<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Catch</title>
  <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-static-top">
      <div class="nav-wrap">
        <a class="nav-icon" href="index.html">Logo</a>
        <ul class="navbar-nav">
          <li class="navbar-item nav-f"> <a href='battle.html' class="nav-link">Battle</a></li>
          <li class="navbar-item"><a href='catch.html' class="nav-link">Catching</a></li>
        </ul>
        <hr role="separator" class="element">
        <ul class="navbar-nav">
          <li class="navbar-item nav-f"><a href='register.html' class="nav-link">Register</a></li>
          <li class="navbar-item nav-f"><a href='login.html' class="nav-link">Log In</a></li>
        </ul>
      </div>
    </nav>

    <div class="game_container">
      <div class="game">
        <canvas id="catch_game" width="720" height="500"></canvas>
      </div>
    </div>
  </div>
</body>
</html>