<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Battle</title>
    <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-static-top">
        <div class="nav-wrap">
            <a class="nav-icon" href="index.html">Logo</a>
            <ul class="navbar-nav">
                <li class="navbar-item nav-f"> <a href='battle.html' class="nav-link">Battle</a></li>
                <li class="navbar-item"><a href='catch.html' class="nav-link">Catching</a></li>
            </ul>
            <hr role="separator" class="element">
            <ul class="navbar-nav">
                <li class="navbar-item nav-f"><a href='register.html' class="nav-link">Register</a></li>
                <li class="navbar-item nav-f"><a href='login.html' class="nav-link">Log In</a></li>
            </ul>
        </div>
    </nav>

    <div class="banner-container">
        <div class="banner">
            <h1 class="banner-title">Pokemon Battle</h1>
        </div>
    </div>
    <div class="content">
        <div class="container-main">
            <div class="container front">

                <h1>Welcome to Pokemon Battle Project</h1>
                <p>To get started, you can Battle it out or Create an Account</p>
                <button>Battle</button>
                <button>Create an Account</button>

            </div>
        </div>
    </div>
</div>
</body>
</html>