<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Battle</title>
    <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-static-top">
        <div class="nav-wrap">
            <a class="nav-icon" href="index.html">Logo</a>
            <ul class="navbar-nav">
                <li class="navbar-item nav-f"> <a href='' class="nav-link">Battle</a></li>
                <li class="navbar-item"><a href='' class="nav-link">Catching</a></li>
            </ul>
            <hr role="separator" class="element">
            <ul class="navbar-nav">
                <li class="navbar-item nav-f"><a href='register.html' class="nav-link">Register</a></li>
                <li class="navbar-item nav-f"><a href='login.html' class="nav-link">Log In</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="form-container signup-container">
            <form>
                <h1>Create An Account</h1>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
            </form>
        </div>
    </div>

</div>
</body>
</html>